* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5;
  padding: 1.5em 0;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.header input {
  width: 300px;
}

.search {
  display: flex;
}

.searchBtn {
  height: 36px;
  margin-top: 12px !important;
  margin-left: 10px !important;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  max-width: 300px;
  margin: 1em;
  padding: 1em 1.45em;
}

.movie h5 {
  cursor: pointer;
  display: block;
}

.movie p {
  margin-bottom: 1.5em;
  display: block;
}

.movie img {
  cursor: pointer;
}

.noSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 90%;
  min-height: 200px;
  margin: 1em 0;
  padding: 1em;
}

.noSearch-img {
  display: block;
  max-width: 100%;
  padding: 1em;
  object-fit: cover;
}

@media (max-width: 424px) {
  .header {
    font-size: 1.25em;
  }

  .search {
    flex-direction: column;
  }
}

@media (max-width: 374px) {
  .movieCardContent {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
